.card {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.form-check-input:checked {
  background-color: #127e58;
  border-color: #127e58;
}

select.form-select {
  border-radius: 6px;
}

